<!-- EVENT ONE -->
<div id="e1_container1">
    <main>
        <p id="e1_prompt" class="storyline">It's almost exam day and you aren't even close to having "Login &
            Registration" finished. <mark class="blue">What are you going to do?</mark> </p>
        <div id="e1_outcome1">
            <p class="storyline"><mark class="green">Good choice!</mark> Turns out Ryan decided to make the project's
                you skipped optional anyways!</p>
            <button (click)="nextEvent()">Continue</button>
        </div>
        <div id="e1_outcome2">
            <p class="storyline">You finally get through all your work the sunday before the test. <mark class="blue">It
                    would have been easier to just ask if you can take the test monday.</mark></p>
            <button (click)="nextEvent()">Continue</button>
        </div>
        <div id="e1_outcome3">
            <p class="storyline">He says yes but after looking through it <mark class="red">you don't really understand
                    his code.</mark></p>
            <button (click)="nextEvent()">Continue</button>
        </div>
        <div id="e1_outcome4">
            <p class="storyline">You find a version online but <mark class="red">it takes you all day to get it to work
                    with your project.</mark></p>
            <button (click)="nextEvent()">Continue</button>
        </div>
    </main>
    <table id="e1_buttons">
        <tr>
            <button (click)="e1_incorrectAnswer1()">Fake sick for the next couple days</button>
        </tr>
        <tr>
            <button (click)="e1_incorrectAnswer2()">Ask a friend to send you his "Login & Registration"</button>
        </tr>
        <tr>
            <button (click)="e1_incorrectAnswer3()">Try to find a copy online</button>
        </tr>
        <tr>
            <button (click)="e1_correctAnswer()">Skip to "Login & Registration"</button>
        </tr>
    </table>
</div>

<!-- EVENT TWO -->
<div id="e2_container2">
    <main>
        <p id="e2_prompt" class="storyline">Python exam time! <mark class="blue">Make your move...</mark></p>
        <div id="e2_outcome1">
            <p class="storyline">WOW! <mark class="green">You flew through the exam and even got a black belt!</mark>
            </p>
            <button [routerLink]="['/week06']">Continue</button>
        </div>
        <div id="e2_outcome2">
            <p class="storyline">Ryan says yes. <mark class="blue">You take the exam monday and pass with a red belt
                    after slacking off all weekend.</mark></p> <button [routerLink]="['/week06']">Continue</button>
        </div>
        <div id="e2_outcome3">
            <p class="storyline"><mark class="red">You get an F on the exam, and the course.</mark> What did you expect
                to happen?</p> <button [routerLink]="['/gameover']">Game Over</button>
        </div>
    </main>
    <table id="e2_buttons">
        <tr>
            <button (click)="e2_correctAnswer()">Take the exam</button>
        </tr>
        <tr>
            <button (click)="e2_incorrectAnswer1()">Ask if you can take it monday</button>
        </tr>
        <tr>
            <button (click)="e2_incorrectAnswer2()">Leave class and never look back</button>
        </tr>
    </table>
</div>