#blink2{
    animation:blinkingText 3s infinite;
    font-size: 60pt
}
@keyframes blinkingText{
    0%{ color: red;}
    49%{    color: transparent; }
    50%{    color: red; }
    99%{    color:red;  }
    100%{   color: red;    }
}