<!-- EVENT ONE -->
<div id="e1_container1">
    <main>
        <p id="e1_prompt" class="storyline">Today is your intro to databases. You're spacing out in class when- uh oh! Your <mark
                class="red">evil instructor</mark>
            calls on you to answer a question in front of the whole class! Quick, <mark class="blue">what is the main
                concept to consider when designing your database?</mark></p>
        <div id="e1_outcome1">
            <p class="storyline"><mark class="green">You got it right!</mark> Your instructor slithers back into the corrupted github repository he crawled out of!
            Until next time evil instructor, until next time...</p>
            <button (click)="nextEvent()">Continue</button>
        </div>
        <div id="e1_outcome2">
            <p class="storyline"><mark class="red">Oh no!</mark> Your answer was wrong. Your evil instructor suceeded in embarassing you. He does his
            happy dance.</p>
            <button (click)="nextEvent()">Continue</button>
        </div>
    </main>
    <table id="e1_buttons">
        <tr>
            <button (click)="e1_incorrectAnswer()">Store everything in sessions instead</button>
        </tr>
        <tr>
            <button (click)="e1_correctAnswer()">Don't repeat data</button>
        </tr>
        <tr>
            <button (click)="e1_incorrectAnswer()">Do a good job</button>
        </tr>
        <tr>
            <button (click)="e1_incorrectAnswer()">SQL is better than NoSQL</button>
        </tr>
    </table>
</div>

<!-- EVENT TWO -->
<div id="e2_container2">
        <main>
            <p id="e2_prompt" class="storyline">"PROMPT"</p>
            <div id="e2_outcome1">
                <p class="storyline">"OUTCOME1"</p>
                <button [routerLink]="['/week03']">Continue</button>
            </div>
            <div id="e2_outcome2">
                <p class="storyline"><"OUTCOME2"</p>
                <button [routerLink]="['/week03']">Continue</button>
            </div>
        </main>
        <table id="e2_buttons">
            <tr>
                <button (click)="e2_incorrectAnswer()">"ANSWER1"</button>
            </tr>
            <tr>
                <button (click)="e2_correctAnswer()">"ANSWER2"</button>
            </tr>
            <tr>
                <button (click)="e2_incorrectAnswer()">"ANSWER3"</button>
            </tr>
            <tr>
                <button (click)="e2_incorrectAnswer()">"ANSWER4"</button>
            </tr>
        </table>
    </div>