*{
    width: 600px;
    margin: 0 auto;
    

}

p{
    color: blue;
    font-size: 20pt;
}
button{
    width: 30px;
    margin: 100px 0px 100px 300px;

    
}
#start{
    display: inline-block;
}